header {
  padding: 20px;
  background-color: #202020;
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

header li a {
  margin: 1.6rem;
  font-weight: 900;
  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: tomato;
  font-family: sans-serif;
  font-weight: 100;
}

header a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 800;
  font-family: sans-serif;
}
