header {
  padding: 20px;
  background-color: #202020;
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

button {
  width: 200px;
  position: relative;
  top: 60px;
  border-radius: 20px;
  padding: 6px;
  border: none;
  background-color: #101010;
  color: white;
}

#container {
  text-align: center;
}

#container p {
  position: relative;
  top: 30px;
  font-size: 16px;
}

h2 {
  font-size: 25px;
  max-width: 390%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 600;
  margin-top: 300px;
}

header li a {
  margin: 1.6rem;
  font-weight: 900;
  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: tomato;
  font-family: sans-serif;
  font-weight: 100;
}

header a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 800;
  font-family: sans-serif;
}

@media screen and (max-width: 768px) {
  #container h2 {
    font-size: 21px;
  }
}
